@if (users$ | async; as users) {
  <div class="users-grid">
    @for (user of users; track user._id) {
      <mat-card [routerLink]="['/user-list', user._id]" style="cursor: pointer">
        <mat-card-content>
          <img
            [src]="user.profilePicture || defaultProfilePicture"
            [alt]="user.name"
            class="user-image"
          />
          <mat-card-title>{{ user.name }}</mat-card-title>
        </mat-card-content>
      </mat-card>
    }
  </div>
} @else {
  Loading users...
}
