<nav class="main-nav">
  <button routerLink="/">Home</button>
  <button routerLink="/user-list">Users</button>
  <button routerLink="/listing-list">Listings</button>
  @if (isAuthenticated$ | async) {
    <button routerLink="/listing-form">Create Listing</button>
  }

  <span style="margin-left: auto"></span>

  @if (isAuthenticated$ | async) {
    <button routerLink="/user-form">Edit User</button>
  }

  @if (!(isAuthenticated$ | async)) {
    <button (click)="login()">Login</button>
  }
  @if (isAuthenticated$ | async) {
    <button (click)="logout()">Logout</button>
  }
  @if (isAdmin$ | async) {
    <button routerLink="/admin">Admin</button>
  }

  <select
    name="Currency"
    id="currency"
    [ngModel]="currencyState.currency()"
    (ngModelChange)="updateCurrency($event)"
  >
    <option value="EUR">EUR</option>
    <option value="USD">USD</option>
    <option value="GBP">GBP</option>
  </select>

  <input
    id="listingSearchString"
    type="text"
    [ngModel]="listingSearch.searchId()"
    (ngModelChange)="listingSearch.searchId.set($event)"
    placeholder="Enter Listing Search"
    (keydown.enter)="search()"
  />
</nav>

<router-outlet />
