<h1>Statistics</h1>

<p>
  <b>{{ stats }}</b>
</p>

<h1>Inappropriate Listings</h1>

@if (listings$ | async; as listings) {
  <div class="listings-grid">
    @for (listing of listings; track listing._id) {
      @if (containsProfanity(listing.title) || containsProfanity(listing.description)) {
        <mat-card [routerLink]="['/listing-list', listing._id]" class="listing-card">
          <mat-card-content>
            <img [src]="listing.image" [alt]="listing.title" class="listing-image" />
            <mat-card-title>{{ listing.title }}</mat-card-title>
            <mat-card-subtitle
              >Inappropriate Word: "{{
                containsProfanity(listing.title) || containsProfanity(listing.description)
              }}"</mat-card-subtitle
            >
          </mat-card-content>
        </mat-card>
      }
    }
  </div>
} @else {
  Loading listings...
}
