<h1>User Details</h1>
@if (user$ | async; as user) {
  <mat-card>
    <mat-card-title>
      {{ user.name }}
    </mat-card-title>
    <mat-card-content>
      <img
        [src]="user.profilePicture || defaultProfilePicture"
        [alt]="user.name"
        class="user-image"
      />
      <p>Phone Number: {{ user.phonenumber }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Date of Birth: {{ user.dob | date: 'mediumDate' }}</p>
      <p>Date Joined: {{ user.dateJoined | date: 'mediumDate' }}</p>
      <p>Date Last Updated: {{ user.lastUpdated | date: 'mediumDate' }}</p>
      <p>Location: {{ user.latitude }}, {{ user.longitude }}</p>
    </mat-card-content>
  </mat-card>
  @if (isAuthenticated$ | async) {
    <app-user-form [user]="user"></app-user-form>
  }
}
