<h1>User Details</h1>
@if (user$ | async; as user) {
  <mat-card>
    <mat-card-title>
      {{ user.name }}
    </mat-card-title>
    <mat-card-content>
      <p>Id: {{ user._id }}</p>
      <p>Phone Number: {{ user.phonenumber }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Date of Birth: {{ user.dob }}</p>
      <p>Date Joined: {{ user.dateJoined }}</p>
      <p>Date Last Updated: {{ user.lastUpdated }}</p>
      @if (isAuthenticated$ | async) {
        <button mat-flat-button color="error" (click)="deleteUser()">Delete</button>
      }
    </mat-card-content>
  </mat-card>
  @if (isAuthenticated$ | async) {
    <app-user-form [user]="user"></app-user-form>
  }
}
